html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Add this line to hide horizontal scrollbars */
}

body {
  background: linear-gradient(30deg, #1f0227, #06162c);
  background-repeat: no-repeat;
  background-attachment: fixed; /* Add this line to fix the background when scrolling */
  background-size: cover;
}
