.gradeTable {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 100px;
  margin-left: 100px;
  display: inline-table;
  padding: 2px;
}

.gradeTable table {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
  color: #ffffff;
  border-radius: 20px;
  border-collapse: separate;
  border-spacing: 4px;
  border: 3px solid rgb(247, 248, 249);
  box-shadow: 1px 6px 12px 1px rgba(7, 148, 255, 0.373);
}

.gradeTable td {
  color: #fff;
  width: 75px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 1px rgb(16, 1, 1);
}

.gradeTable td {
  border-right: none;
}

.gradeTable tr:nth-child(2) {
  background-color: rgb(6, 153, 6);
}

.gradeTable tr:nth-child(3) {
  background-color: #9ad04e;
}

.gradeTable tr:nth-child(4) {
  background-color: #d7de0b;
}

.gradeTable tr:nth-child(5) {
  background-color: #f2a55e;
}

.gradeTable tr:nth-child(6) {
  background-color: #de732b;
}

.gradeTable tr:nth-child(7) {
  background-color: #eb4509;
}

.gradeTable tr:nth-child(8) {
  background-color: #ff002b;
}
